<div class="nav-container">
    <div class="nav-row-1">
        <div class="hug-icon-container">
            <mat-icon class="hug-icon">image</mat-icon>
        </div>
        <div class="links-container">
            <ul>
                <li><a href="">Link de acesso 1</a></li>
                <li><a href="">Link de acesso 2</a></li>
                <li><a href="">Link de acesso 3</a></li>
                <li><a href="">Link de acesso 4</a></li>
            </ul>
        </div>
        <div class=""></div>
    </div>
    <div class="nav-row-2">
        <div class="nav-row-2-1">
            <mat-icon class="icon-menu">menu</mat-icon>
            <div class="logo-nav">
                <h1 class="logo-title">Escolas pelo Mundo</h1>
                <p class="logo-description">Internacionalizando sonhos</p>
            </div>
        </div>
        <div class="search-input-container">
            <input class="search-input" type="text" placeholder="O que você procura?">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
    </div>
</div>