* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    text-align: start;
}
.signup-container {
    margin: 0 auto;
    width: 80%;
    box-shadow: 0px 2px 3px 2px rgba(206, 206, 206, 0.411);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 30px;
}
.signup-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title-signup {
    text-align: center;
    font-weight: 300;
    padding-top: 60px;
    margin-left: 20px;
    font-size: 1.8rem;
}
.input-container {
    position: relative;
    margin-bottom: 45px;
    width: 70vw;
}
.input-description {
    font-weight: 500;
}
.input-field {
    display: block;
    width: 90%;
    border: none;
    border: 1px solid #888888;
    padding: 10px 4px 10px 50px;
    border-radius: 4px;
    font-size: 0.9rem;
}
mat-icon {
    color: #888888;
}
.person-icon {
    margin-left: 10px;
    position: absolute;
    top: 45%;
    left: 5px;
}
.key-password-icon {
    position: absolute;
    top: 45%;
    margin-left: 10px;
}
.checkbox-signup {
    margin-right: 10px;
    scale: 1.2;
}
.terms-container {
    display: flex;
    flex-direction: row;
}
.hide-password-icon {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: #1351B4;
    margin-right: 15px;
    right: 10%;
}
.hide-password-icon:hover {
    opacity: 0.8;
}
.cancel{
    cursor: pointer;
    color: #1351B4;
    border: 1px solid #1351B4;
    border-radius: 25px;
    padding: 8px 30px;
    margin-right: 20px;
}
.signup-button {
    cursor: pointer;
    background-color: #1351B4;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
}
.cancel:hover, .signup-button:hover {
    opacity: 0.8;
}
.cancel:hover {
    border: 1px solid #1351b4a4;
}
.buttons-container {
    padding: 20px 70px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 880px) {
    .input-container {
        margin-left: 40px;
        width: 90%;
    }
    .signup-container {
        width: 95%;
        display: block;
        padding: 0;
    }
    .title-signup {
        margin-top: 30px;
    }
    .buttons-container {
        padding: 20px 0px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .key-password-icon {
        font-size: 16px;
    }
    .signup-container {
        padding-top: 40px;
    }
}
@media screen and (max-width: 355px) {
    .terms-container {
        font-size: 0.9rem;
        margin-left: 20px;
    }
    .signup-container {
        padding-top: 40px;
    }
}